[workspace]
exclude = ["scripts"]
members = [
  "crates/memprotect",
  "crates/memcode",
  "crates/memcode/core",
  "crates/memcode/derive",
  "crates/memzer",
  "crates/memzer/core",
  "crates/memzer/derive",
  "crates/memaead",
  "crates/memsecret",
  "crates/memrand",
  "crates/memutil",
  "crates/memvault",
  "crates/memcrypt",
  "crates/memalloc",
]
resolver = "2"

  [workspace.package]
  edition    = "2024"
  license    = "GPL-3.0-only"
  repository = "https://github.com/memparanoid/memora"
  version    = "0.0.1"

  [workspace.dependencies]
  # Internal crates
  memcode        = { path = "crates/memcode" }
  memcode_core   = { path = "crates/memcode/core" }
  memcode_derive = { path = "crates/memcode/derive" }
  memcrypt       = { path = "crates/memcrypt" }
  memprotect     = { path = "crates/memprotect" }
  memrand        = { path = "crates/memrand" }
  memsecret      = { path = "crates/memsecret" }
  memutil        = { path = "crates/memutil" }
  memvault       = { path = "crates/memvault" }
  memzer         = { path = "crates/memzer" }
  memzer_core    = { path = "crates/memzer/core" }
  memzer_derive  = { path = "crates/memzer/derive" }

  # External dependencies
  chacha20poly1305 = { version = "0.11.0-rc.0", features = ["zeroize"] }
  poly1305         = "0.8.0"
  getrandom        = "0.3"
  libc             = "0.2.177"
  pastey           = "0.2.0"
  proc-macro-crate = "3.4.0"
  proc-macro2      = "1.0.103"
  quote            = "1.0.41"
  rand             = "0.9.2"
  rand_core        = "0.9"
  seq-macro        = "0.3.6"
  subtle           = "2.6"
  syn              = "2.0.108"
  thiserror        = "2.0.16"
  zeroize          = { version = "1.8.1", features = ["zeroize_derive"] }

  # Dev dependencies
  criterion    = "0.5"
  insta        = { version = "1.43.2", features = ["redactions"] }
  prettyplease = "0.2.37"
  proptest     = "1.9.0"
  trybuild     = "1.0"

[profile.release]
codegen-units = 1
lto           = true
opt-level     = 3

[profile.bench]
inherits = "release"
