[workspace]
exclude = ["scripts"]
members = [
  "crates/memprotect",
  "crates/memcode",
  "crates/memcode/core",
  "crates/memcode/derive",
  "crates/memzer",
  "crates/memzer/core",
  "crates/memzer/derive",
  "crates/memrand",
  "crates/memvault",
  "crates/memcrypt",
]
resolver = "2"

  [workspace.package]
  edition    = "2024"
  license    = "GPL-3.0-only"
  repository = "https://github.com/memparanoid/memora"
  version    = "0.0.1"

  [workspace.dependencies]
  # Internal crates
  memcode        = { path = "crates/memcode" }
  memcode_core   = { path = "crates/memcode/core" }
  memcode_derive = { path = "crates/memcode/derive" }
  memcrypt       = { path = "crates/memcrypt" }
  memprotect     = { path = "crates/memprotect" }
  memrand        = { path = "crates/memrand" }
  memvault       = { path = "crates/memvault" }
  memzer         = { path = "crates/memzer" }
  memzer_core    = { path = "crates/memzer/core" }
  memzer_derive  = { path = "crates/memzer/derive" }

  # External dependencies
  getrandom = "0.3"
  libc      = "0.2.177"
  subtle    = "2.6"
  zeroize   = { version = "1.8.1", features = ["zeroize_derive"] }

  # Dev dependencies
  criterion = "0.5"
  insta     = { version = "1.43.2", features = ["redactions"] }
  proptest  = "1.9.0"

[profile.release]
codegen-units = 1
lto           = true
opt-level     = 3

[profile.test]
panic = "unwind"

[profile.bench]
inherits = "release"
